.lit-v-imgerr {
  display: inline-block;
  transform: scale(1);
}

.lit-v-imgerr[data-v-imgerr-img] {
  object-fit: contain;
}

/* .lit-v-imgerr::before {
  content: attr(data-v-imgerr-emoji);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
} */

.lit-v-imgerr::after {
  content: attr(data-v-imgerr-emoji) ' ' attr(alt);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: red;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 999;
}
